
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Lato', sans-serif;
    color: #fff;
}

.body{
}

.first-page{
    margin-left: auto;
    margin-right: auto;
    display: grid;
    height: 100vh;
    max-width: 100%;
    grid-auto-rows: 10% 90%;
    background-color: blueviolet;

}

.header__one{
    display: grid;
    grid-template-columns: 12.5rem 31.25rem;
    gap: 24rem;
    justify-content: center;
    background-color: #000;
    list-style: none;
    
}

.header__one div{
    font-weight: 800;
    font-size: 1.5rem;
    /* border: 1px solid red; */
    padding: 1rem;
    text-align:start;

}

.header__one div::after{
    content: "1.0";
    font-weight: 1000;
    margin-left: 0.3125rem;
    font-size: 0.7rem;
    background: -webkit-linear-gradient(#2f2, #f0fe21);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header__one ul{
    padding: 1rem;
    width: 130%;

}

.header__one ul li{
    display: inline-block;
    margin-left: 1.1rem;
    margin-right: 1.1rem;
    font-weight: 500;
}



.header__one--ContactUs{
    padding: 0.5rem;
    border-image: linear-gradient(#2f2, #f0fe21) 1;
    border-width: 2px;
    border-style: solid;
}

.header__one--ContactUs span{
    display: inline-block;
}



.main__one{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    background-color: #000;
}

.main__one div:first-child{
    /* border: 1px solid red; */
    margin-top: 20%;
    margin-bottom: auto;
    margin-left: 2rem;
    /* border: 1px solid red; */
}

.main__one--greeting{
    font-size: 4rem;
    font-weight: 900;
    margin-bottom: 1rem;
    background: -webkit-linear-gradient(#2f2, #f0fe21);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main__one--getStarted{
    width: 50%;
    text-align: center;
}

.icon{
    display: inline-block;
    margin-right: 0.5rem;
}

.main__one--getStarted p{
    padding: 0.4rem;
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(#2f2, #f0fe21) 1;
}

  

.main__one--picture{
    height: 80vh;
    width: 100%;
    margin-top: 2rem;
    position: relative;
    /* border-left: solid;
    border-width: 2px;
    border-image: linear-gradient(#2f2, #f0fe21) 1; */
}

.main__one--picture::before{
    content:'';
    position: absolute;
    /* background-color: #85C1E9; */
    background: -webkit-linear-gradient(#2f2, #f0fe21);
    width: 3px;
    height: 20%;
    bottom: 0;
    left: 0; 
}


.main__one--picture img{
    /* height: 80vh; */
    height: 100%;
    padding-left: 5.5rem;
    clip-path: circle(37% at 57% 39%);
    border: 1px solid red;

}

.main__one--picture::after{
    content: " ";
    display: block;
    border-style: dashed;
    border-width: thin;
    border-color: #919191;

    /* background-color: #919191;
    width: 100%;
    height: 1px; */
}

.section__one,
.section__two,
.section__three{
    height: 100vh;
}

.section__one{
    background-color: #2f2;
}

.section__two{
    background-color: #f0fe21;
}

.section__three{
    background-color: aqua;
}



